/* PartnerTile Styles */

.partner-tile {
    width: 450px;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #3d3d3d;
    border-radius: 12px;

    padding: 25px;
}

.partner-title {
    text-decoration: none;
    color: #000000;

    &:hover {
        text-decoration: underline;
        color: #3f3333;
    }
}

.partner-thumbnail {
    max-width: 150px;
    max-height: 150px;
}

.partner-info {
    font-size: 0.9em;
}

.active-status {
    color: green;
}

.inactive-status {
    color: red;
}

.partner-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.partner-delete {
    background-color: rgb(144, 18, 18) !important;

    &:hover {
        /* background-color: gray !important; */
        background: linear-gradient(#b4bed1, #690622);;
    }
}

.toggle-description {
    color: #90bb85 !important;
}