/* EntryCard Styles */

.entry-card {
    width: 600px;
    height: 300px;

    display: flex;
    align-items: center;
    flex-direction: column;

    border: 1px solid #3d3d3d;
    border-radius: 12px;

    padding: 25px;
}

.entry-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;
    align-items: center;
    justify-content: space-between;

    padding: 25px;
}

.entry-submissionButton {
    background-color: green !important;
}